
<tr>
	<td class="col-md-1"><%= audit_log.id %></td>
	<td class="col-md-2"><%= audit_log.user.full_name %></td>
  	<td class="col-md-2"><%= audit_log.start_date %></td>
  	<td class="col-md-2"><%= audit_log.end_date %></td>
  	<td class="col-md-1"><%= status_span_generator(audit_log.status) %></td>
  	<td></td>
  	<td></td>
</tr>


