<!-- no ajax no redering -->

<div class="container">
  <h2>Audit Log Dashboard</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Week Starting</th> <!-- start date -->
        <th>Confirmed at</th>  <!-- end date -->
        <th>status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="audit_logs">
    	<% @audit_logs.each do |al| %>
        <tr>
        	<td class="col-md-1"><%= al.id %></td>
        	<td class="col-md-2"><%= al.user.full_name %></td>
          <td class="col-md-2"><%= al.start_date %></td>
          <td class="col-md-2"><%= al.end_date %></td>
          <td class="col-md-1"><%= status_span_generator(al.status) %></td>
          <td></td>
          <td></td>
        </tr>
	     <% end %>
    </tbody>

  </table>
</div>

<!-- <div id="paginator"> -->
  <%#= paginate @paudit_logs, remote: true %>
  <%= paginate @audit_logs %>
<!-- </div> -->


