<!-- _pending_approval.html.erb -->

<% pending_approvals.each do |pending_approval| %>
	<div class="homepage-block col-md-3">

		<h4><%= pending_approval.user.full_name %></h4>
		<p><span class="pending-details"> Date submitted: </span><%= pending_approval.date.strftime("%m/%d/%Y") %></p>
		<p><span class="pending-details">Rationale: </span><%= truncate(pending_approval.rational, length: 50, separator: ' ') %></p>

		<div class="row">
			<div class="col-md-6 column">
				<%#= link_to "Approve", root_path, class: "btn btn-success btn-block" %>
				<%= button_to "Approve", approve_post_path(pending_approval), method: :post, class: "btn btn-success btn-block", id: "approve_#{pending_approval.id}" %>   <!-- adding an id for rspec to find approval_pending.id is post.id-->
			</div>
			
			<div class="col-md-6 coloumn"> 
				<%= link_to "Review", edit_post_path(pending_approval), class: "btn btn-warning btn-block" %>
			</div>

		</div>

	</div>
<% end %>


