<!-- _pending_approval.html.erb -->

<%#= @pending_approvals.each do |pending_approval| %>
<%#= link_to pending_approval.user.full_name, edit_post_path(pending_approval) %>

<h2><%= pluralize(@pending_approvals.count, "Item") %> pending approval: </h2>

<% pending_approvals.each do |pending_approval| %>
	<div class="homepage-block col-md-3">

		<h4><%= pending_approval.user.full_name %></h4>
		<p><span class="pending-details"> Date submitted: </span><%= pending_approval.date %></p>
		<p><span class="pending-details">Rationale: </span><%= truncate(pending_approval.rational, length: 50, separator: ' ') %></p>

		<div class="row">
			<div class="col-md-6 column">
				<%= link_to "Approve", root_path, class: "btn btn-success btn-block" %>
			</div>
			
			<div class="col-md-6 coloumn"> 
				<%= link_to "Review", root_path, class: "btn btn-warning btn-block" %>
			</div>

		</div>

	</div>
<% end %>


