
<div class="container">
  <table class="table well" style="background:lightgray;">
    <thead>
      <tr class="h4">
        <th>Date</th>
        <th>Rationale</th>
        <th>status</th>
        <th>Overtime Request</th>
      </tr>
    </thead>
    <tbody>
      <tr class="h5">
        <td><%= @post.date %></td>
        <td style='color:blue;'><%= @post.rational %></td>
        <td><%= @post.status %></td>
        <td><%= pluralize(@post.overtime_request, "hour") %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-default' if policy(@post).update? %>
  <%= link_to "Back to Post List", posts_path, class: 'btn btn-default' %>

</div>
