<!DOCTYPE html>
<html>
<head>
  <title>Overtime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<%= render partial: 'shared/navbar' %>

				<%#= flash[:success] %>
				<%#= flash[:notice] %>
				<%#= flash[:error] %>

				<%= yield %>

			</div>
		</div>
	</div>
</div>

<%= js add_gritter(flash[:notice], title: "Overtime App Notification", sticky: false, time: 10000, image: :notice) %>
<%= js add_gritter(flash[:success], title: "Overtime App Notification", sticky: false, time: 10000, image: :success) %>
<%= js add_gritter(flash[:error], title: "Overtime App Notification", sticky: false, time: 10000) %>
<%= js add_gritter(flash[:alert], title: "Overtime App Notification", sticky: false, time: 10000, image: :notice) %>
</body>
</html>
